# Data Wrangling

In this notebook, we will perform essential data wrangling tasks to prepare the dataset for further analysis. These steps are critical in ensuring data quality, integrity, and consistency before moving to Exploratory Data Analysis (EDA).

### Objectives:

- Identify and remove duplicate records from the dataset  
- Detect missing values in the dataset  
- Impute missing values using appropriate techniques  
- Normalize relevant features to bring them onto a similar scale  

These tasks help ensure that our insights are driven by accurate, complete, and clean data — which is a foundational step in any real-world analytics project.

### Import Required Library

We begin by importing the `pandas` library, which is essential for data manipulation and wrangling tasks throughout this notebook.

In [33]:
import pandas as pd

We load the dataset from a CSV file into a pandas DataFrame for inspection and cleaning.

In [34]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv")

# Display the First 5 row
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

### Identify Duplicate Rows

We check for duplicate entries in the dataset, count how many exist, and display the first few to understand their structure before removal.

In [35]:
# Check for Duplicates
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows : {num_duplicates}")

# display the first few duplicate records
df[df.duplicated()].head()

Number of duplicate rows : 20

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
65437,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65438,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
65439,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
65440,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
65441,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

### Analyze Characteristics of Duplicates

Before removing duplicates, we investigate whether certain columns — such as `MainBranch`, `Employment`, and `RemoteWork` — frequently contain identical values within duplicate rows.

This helps us understand the nature of redundancy in the data and decide if we should drop full-row duplicates or consider subset-based duplication.

In [36]:
# check for duplicates based on selected subset of columns
subset_duplicates = df.duplicated(subset=['MainBranch', 'Employment', 'RemoteWork'])
num_subset_duplicates = subset_duplicates.sum()
print(f"Number of duplicates based on selected columns: {num_subset_duplicates}")

# display a few of those rows
df[subset_duplicates].head()

Number of duplicates based on selected columns: 64896

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
14,15,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Professional development or self-paced l...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Stack Overflow;Coding sessions (live or record...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
15,16,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby,Some college/university study without earning ...,Books / Physical media;On the job training;Oth...,Technical documentation;Books;Written Tutorial...,...,0.0,0.0,0.0,0.0,0.0,0.0,Appropriate in length,Neither easy nor difficult,NaN,5.0
16,17,I code primarily as a hobby,Under 18 years old,"Student, full-time",NaN,Apples,NaN,Primary/elementary school,Books / Physical media;Other online resources ...,Technical documentation;Written Tutorials;Stac...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN

### Interpretation of Subset-Based Duplicates

We found 64,896 duplicate rows based on `MainBranch`, `Employment`, and `RemoteWork`. This pattern is expected in survey data, where many respondents share similar roles and work settings.

Since other columns like `Age`, `EdLevel`, `ConvertedCompYearly`, and `JobSat` may contain unique insights, we’ll keep these rows for now and only remove exact full-row duplicates.

This ensures we retain valuable variation for deeper analysis.

## Strategic Removal of Duplicates

We define uniqueness in this dataset primarily using the `ResponseId` column. If not unique, a combination of `MainBranch`, `Employment`, `RemoteWork`, and `ConvertedCompYearly` is used to identify and remove duplicate records without losing meaningful data.

In [37]:
df["ResponseId"].is_unique

False

In [38]:
df["ResponseId"].duplicated().sum()

20

Since `ResponseId` and a basic composite key didn’t ensure uniqueness, we expanded our key to include subjective fields like `SurveyLength` and `SurveyEase`. This helped better isolate true duplicates for accurate cleanup.

In [39]:
df.duplicated(subset=['MainBranch', 'Employment', 'RemoteWork', 'Age', 'ConvertedCompYearly', 'SurveyLength', 'SurveyEase']).sum()

42328



Despite testing multiple combinations of profile fields, a significant number of near-identical rows were found. To maintain data integrity, we dropped full-row duplicates from the dataset, keeping only the first occurrence of each unique response.

## Removing duplicates

To ensure each record in the dataset is unique and to avoid inflated statistics, we removed all fully duplicated rows from the DataFrame.

In [40]:
df.drop_duplicates(inplace = True)

After dropping duplicate rows, we verified the cleanup by counting the number of duplicates remaining in the dataset to ensure data integrity.

In [41]:
df.duplicated().sum()

0

## Remove Unnecessary Columns

Dropped non-analytical columns such as `ResponseId`, `Check`, and granular job satisfaction rating columns (`JobSatPoints_1` to `JobSatPoints_11`) to streamline the dataset for analysis.

In [42]:
# Drop ID and survey control columns
df.drop(columns=['ResponseId', 'Check'], inplace=True)

# Drop detailed job satisfaction point columns
for i in range(1, 12):
    col_name = f'JobSatPoints_{i}'
    if col_name in df.columns:
        df.drop(columns=[col_name], inplace=True)

## Identifying Missing Values

We begin by detecting missing values across all columns.  
This helps assess data quality and decide how to handle incomplete entries in the next steps.

In [43]:
# Display total missing values for each column
missing_values = df.isnull()
missing_values

,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,TechDoc,YearsCode,...,TimeAnswering,Frustration,ProfessionalTech,ProfessionalCloud,ProfessionalQuestion,Industry,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,False,False,False,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,True,True
3,False,False,False,True,True,False,False,False,True,False,...,True,True,True,True,True,True,False,False,True,True
4,False,False,False,True,True,False,False,False,False,False,...,True,True,True,True,True,True,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65432,False,False,False,False,False,False,False,True,True,False,...,True,True,True,True,True,True,True,True,True,True
65433,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
65434,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
65435,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
65436,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [44]:
# Counting missing values for all columns
for column in missing_values.columns.values.tolist():
    print(column)
    print(missing_values[column].value_counts())
    print(" ")

MainBranch
MainBranch
False    65437
Name: count, dtype: int64

Age
Age
False    65437
Name: count, dtype: int64

Employment
Employment
False    65437
Name: count, dtype: int64

RemoteWork
RemoteWork
False    54806
True     10631
Name: count, dtype: int64

CodingActivities
CodingActivities
False    54466
True     10971
Name: count, dtype: int64

EdLevel
EdLevel
False    60784
True      4653
Name: count, dtype: int64

LearnCode
LearnCode
False    60488
True      4949
Name: count, dtype: int64

LearnCodeOnline
LearnCodeOnline
False    49237
True     16200
Name: count, dtype: int64

TechDoc
TechDoc
False    40897
True     24540
Name: count, dtype: int64

YearsCode
YearsCode
False    59869
True      5568
Name: count, dtype: int64

YearsCodePro
YearsCodePro
False    51610
True     13827
Name: count, dtype: int64

DevType
DevType
False    59445
True      5992
Name: count, dtype: int64

OrgSize
OrgSize
False    47480
True     17957
Name: count, dtype: int64

PurchaseInfluence
PurchaseInfluence
False    47406
True     18031
Name: count, dtype: int64

BuyNewTool
BuyNewTool
False    45181
True     20256
Name: count, dtype: int64

BuildvsBuy
BuildvsBuy
False    43358
True     22079
Name: count, dtype: int64

TechEndorse
TechEndorse
False    43668
True     21769
Name: count, dtype: int64

Country
Country
False    58930
True      6507
Name: count, dtype: int64

Currency
Currency
False    46684
True     18753
Name: count, dtype: int64

CompTotal
CompTotal
False    33740
True     31697
Name: count, dtype: int64

LanguageHaveWorkedWith
LanguageHaveWorkedWith
False    59745
True      5692
Name: count, dtype: int64

LanguageWantToWorkWith
LanguageWantToWorkWith
False    55752
True      9685
Name: count, dtype: int64

LanguageAdmired
LanguageAdmired
False    50872
True     14565
Name: count, dtype: int64

DatabaseHaveWorkedWith
DatabaseHaveWorkedWith
False    50254
True     15183
Name: count, dtype: int64

DatabaseWantToWorkWith
DatabaseWantToWorkWith
False    42558
True     22879
Name: count, dtype: int64

DatabaseAdmired
DatabaseAdmired
False    38557
True     26880
Name: count, dtype: int64

PlatformHaveWorkedWith
PlatformHaveWorkedWith
False    42366
True     23071
Name: count, dtype: int64

PlatformWantToWorkWith
PlatformWantToWorkWith
False    34532
True     30905
Name: count, dtype: int64

PlatformAdmired
PlatformAdmired
True     34060
False    31377
Name: count, dtype: int64

WebframeHaveWorkedWith
WebframeHaveWorkedWith
False    45161
True     20276
Name: count, dtype: int64

WebframeWantToWorkWith
WebframeWantToWorkWith
False    38535
True     26902
Name: count, dtype: int64

WebframeAdmired
WebframeAdmired
False    34943
True     30494
Name: count, dtype: int64

EmbeddedHaveWorkedWith
EmbeddedHaveWorkedWith
True     43223
False    22214
Name: count, dtype: int64

EmbeddedWantToWorkWith
EmbeddedWantToWorkWith
True     47837
False    17600
Name: count, dtype: int64

EmbeddedAdmired
EmbeddedAdmired
True     48704
False    16733
Name: count, dtype: int64

MiscTechHaveWorkedWith
MiscTechHaveWorkedWith
False    39443
True     25994
Name: count, dtype: int64

MiscTechWantToWorkWith
MiscTechWantToWorkWith
False    32964
True     32473
Name: count, dtype: int64

MiscTechAdmired
MiscTechAdmired
True     35841
False    29596
Name: count, dtype: int64

ToolsTechHaveWorkedWith
ToolsTechHaveWorkedWith
False    52482
True     12955
Name: count, dtype: int64

ToolsTechWantToWorkWith
ToolsTechWantToWorkWith
False    46084
True     19353
Name: count, dtype: int64

ToolsTechAdmired
ToolsTechAdmired
False    43997
True     21440
Name: count, dtype: int64

NEWCollabToolsHaveWorkedWith
NEWCollabToolsHaveWorkedWith
False    57592
True      7845
Name: count, dtype: int64

NEWCollabToolsWantToWorkWith
NEWCollabToolsWantToWorkWith
False    52087
True     13350
Name: count, dtype: int64

NEWCollabToolsAdmired
NEWCollabToolsAdmired
False    50711
True     14726
Name: count, dtype: int64

OpSysPersonal use
OpSysPersonal use
False    58174
True      7263
Name: count, dtype: int64

OpSysProfessional use
OpSysProfessional use
False    52973
True     12464
Name: count, dtype: int64

OfficeStackAsyncHaveWorkedWith
OfficeStackAsyncHaveWorkedWith
False    48093
True     17344
Name: count, dtype: int64

OfficeStackAsyncWantToWorkWith
OfficeStackAsyncWantToWorkWith
False    38966
True     26471
Name: count, dtype: int64

OfficeStackAsyncAdmired
OfficeStackAsyncAdmired
False    37204
True     28233
Name: count, dtype: int64

OfficeStackSyncHaveWorkedWith
OfficeStackSyncHaveWorkedWith
False    55545
True      9892
Name: count, dtype: int64

OfficeStackSyncWantToWorkWith
OfficeStackSyncWantToWorkWith
False    46711
True     18726
Name: count, dtype: int64

OfficeStackSyncAdmired
OfficeStackSyncAdmired
False    44712
True     20725
Name: count, dtype: int64

AISearchDevHaveWorkedWith
AISearchDevHaveWorkedWith
False    44453
True     20984
Name: count, dtype: int64

AISearchDevWantToWorkWith
AISearchDevWantToWorkWith
False    36701
True     28736
Name: count, dtype: int64

AISearchDevAdmired
AISearchDevAdmired
False    35543
True     29894
Name: count, dtype: int64

NEWSOSites
NEWSOSites
False    60286
True      5151
Name: count, dtype: int64

SOVisitFreq
SOVisitFreq
False    59536
True      5901
Name: count, dtype: int64

SOAccount
SOAccount
False    59560
True      5877
Name: count, dtype: int64

SOPartFreq
SOPartFreq
False    45237
True     20200
Name: count, dtype: int64

SOHow
SOHow
False    58962
True      6475
Name: count, dtype: int64

SOComm
SOComm
False    59163
True      6274
Name: count, dtype: int64

AISelect
AISelect
False    60907
True      4530
Name: count, dtype: int64

AISent
AISent
False    45873
True     19564
Name: count, dtype: int64

AIBen
AIBen
False    36894
True     28543
Name: count, dtype: int64

AIAcc
AIAcc
False    37302
True     28135
Name: count, dtype: int64

AIComplex
AIComplex
False    37021
True     28416
Name: count, dtype: int64

AIToolCurrently Using
AIToolCurrently Using
False    35072
True     30365
Name: count, dtype: int64

AIToolInterested in Using
AIToolInterested in Using
True     34746
False    30691
Name: count, dtype: int64

AIToolNot interested in Using
AIToolNot interested in Using
True     41023
False    24414
Name: count, dtype: int64

AINextMuch more integrated
AINextMuch more integrated
True     51999
False    13438
Name: count, dtype: int64

AINextNo change
AINextNo change
True     52939
False    12498
Name: count, dtype: int64

AINextMore integrated
AINextMore integrated
True     41009
False    24428
Name: count, dtype: int64

AINextLess integrated
AINextLess integrated
True     63082
False     2355
Name: count, dtype: int64

AINextMuch less integrated
AINextMuch less integrated
True     64289
False     1148
Name: count, dtype: int64

AIThreat
AIThreat
False    44689
True     20748
Name: count, dtype: int64

AIEthics
AIEthics
False    41548
True     23889
Name: count, dtype: int64

AIChallenges
AIChallenges
False    37531
True     27906
Name: count, dtype: int64

TBranch
TBranch
False    44477
True     20960
Name: count, dtype: int64

ICorPM
ICorPM
True     35636
False    29801
Name: count, dtype: int64

WorkExp
WorkExp
True     35779
False    29658
Name: count, dtype: int64

Knowledge_1
Knowledge_1
True     36773
False    28664
Name: count, dtype: int64

Knowledge_2
Knowledge_2
True     37416
False    28021
Name: count, dtype: int64

Knowledge_3
Knowledge_3
True     37342
False    28095
Name: count, dtype: int64

Knowledge_4
Knowledge_4
True     37407
False    28030
Name: count, dtype: int64

Knowledge_5
Knowledge_5
True     37557
False    27880
Name: count, dtype: int64

Knowledge_6
Knowledge_6
True     37573
False    27864
Name: count, dtype: int64

Knowledge_7
Knowledge_7
True     37659
False    27778
Name: count, dtype: int64

Knowledge_8
Knowledge_8
True     37679
False    27758
Name: count, dtype: int64

Knowledge_9
Knowledge_9
True     37802
False    27635
Name: count, dtype: int64

Frequency_1
Frequency_1
True     37068
False    28369
Name: count, dtype: int64

Frequency_2
Frequency_2
True     37073
False    28364
Name: count, dtype: int64

Frequency_3
Frequency_3
True     37727
False    27710
Name: count, dtype: int64

TimeSearching
TimeSearching
True     36526
False    28911
Name: count, dtype: int64

TimeAnswering
TimeAnswering
True     36593
False    28844
Name: count, dtype: int64

Frustration
Frustration
True     37186
False    28251
Name: count, dtype: int64

ProfessionalTech
ProfessionalTech
True     37673
False    27764
Name: count, dtype: int64

ProfessionalCloud
ProfessionalCloud
True     36946
False    28491
Name: count, dtype: int64

ProfessionalQuestion
ProfessionalQuestion
True     36630
False    28807
Name: count, dtype: int64

Industry
Industry
True     36579
False    28858
Name: count, dtype: int64

SurveyLength
SurveyLength
False    56182
True      9255
Name: count, dtype: int64

SurveyEase
SurveyEase
False    56238
True      9199
Name: count, dtype: int64

ConvertedCompYearly
ConvertedCompYearly
True     42002
False    23435
Name: count, dtype: int64

JobSat
JobSat
True     36311
False    29126
Name: count, dtype: int64

We will select a column with significant missing data (`EdLevel`,`Employment`, `RemoteWork`) and fill missing entries with the most frequent value to maintain consistency.

In [45]:
print("EdLevel")
print(df["EdLevel"].value_counts().head())

EdLevel
EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          24942
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       15557
Some college/university study without earning a degree                                 7651
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     5793
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         2970
Name: count, dtype: int64

In [46]:
# Find the most frequent value in the RemoteWork column
most_frequent_edlevel = df['EdLevel'].mode()[0]
print(f"Most frequent value in EdLevel column: {most_frequent_edlevel}")

# Fill missing values in EdLevel with the most frequent value
most_frequent_edlevel = df['EdLevel'].mode()[0]
df['EdLevel'].fillna(most_frequent_edlevel)

Most frequent value in EdLevel column: Bachelor’s degree (B.A., B.S., B.Eng., etc.)

0                                Primary/elementary school
1             Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2          Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3        Some college/university study without earning ...
4        Secondary school (e.g. American high school, G...
                               ...
65432         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65433         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65434         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65435    Secondary school (e.g. American high school, G...
65436         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
Name: EdLevel, Length: 65437, dtype: object

In [47]:
print("Employment")
print(df["Employment"].value_counts().head())

Employment
Employment
Employed, full-time                                                         39041
Independent contractor, freelancer, or self-employed                         4846
Student, full-time                                                           4709
Employed, full-time;Independent contractor, freelancer, or self-employed     3557
Not employed, but looking for work                                           2341
Name: count, dtype: int64

In [48]:
# Find the most frequent value in the Employment column
most_frequent_employment = df['Employment'].mode()[0]
print(f"Most frequent value in Employment column: {most_frequent_employment}")

# Fill missing values in Employment with the most frequent value
most_frequent_remote = df['Employment'].mode()[0]
df['Employment'].fillna(most_frequent_employment)

Most frequent value in Employment column: Employed, full-time

0        Employed, full-time
1        Employed, full-time
2        Employed, full-time
3         Student, full-time
4         Student, full-time
                ...
65432    Employed, full-time
65433    Employed, full-time
65434    Employed, full-time
65435    Employed, full-time
65436     Student, full-time
Name: Employment, Length: 65437, dtype: object

In [49]:
print('RemoteWork')
print(df["RemoteWork"].value_counts())

RemoteWork
RemoteWork
Hybrid (some remote, some in-person)    23015
Remote                                  20831
In-person                               10960
Name: count, dtype: int64

In [50]:
# Find the most frequent value in the RemoteWork column
most_frequent_remote = df['RemoteWork'].mode()[0]
print(f"Most frequent value in RemoteWork column: {most_frequent_remote}")

# Fill missing values in RemoteWork with the most frequent value
most_frequent_remote = df['RemoteWork'].mode()[0]
df['RemoteWork'].fillna(most_frequent_remote)

Most frequent value in RemoteWork column: Hybrid (some remote, some in-person)

0                                      Remote
1                                      Remote
2                                      Remote
3        Hybrid (some remote, some in-person)
4        Hybrid (some remote, some in-person)
                         ...
65432                                  Remote
65433                                  Remote
65434                               In-person
65435    Hybrid (some remote, some in-person)
65436    Hybrid (some remote, some in-person)
Name: RemoteWork, Length: 65437, dtype: object

### Imputation Completed

The missing values in the `EdLevel` , `Employment` and `RemoteWok` column were successfully filled using the most frequent value.  
Post-imputation, no missing values remain in this column.

## Normalizing Compensation Data

in this step, we will Apply Min-Max Scaling and store results in a new column `ConvertedCompYearly_MinMax`.

In [65]:
# Step 1: Filter out rows where ConvertedCompYearly is not null
df_comp = df[df['ConvertedCompYearly'].notna()].copy()

# Step 2: Reset index (optional, for clean analysis)
df_comp.reset_index(drop=True, inplace=True)

# Step 3: Min-Max Normalization
min_val = df_comp['ConvertedCompYearly'].min()
max_val = df_comp['ConvertedCompYearly'].max()
df_comp['ConvertedCompYearly_MinMax'] = (df_comp['ConvertedCompYearly'] - min_val) / (max_val - min_val)
df_comp['ConvertedCompYearly_MinMax'].value_counts().head()

ConvertedCompYearly_MinMax
0.003998    42039
0.003964      321
0.003303      308
0.004625      230
0.005285      226
Name: count, dtype: int64

  
we will now apply Z-score method to Standardize the `ConvertedCompYearly` column and save results in a new column `ConvertedCompYearly_Zscore`.

In [63]:
# Z-score normalization for ConvertedCompYearly
mean_val = df_comp['ConvertedCompYearly'].mean()
std_val = df_comp['ConvertedCompYearly'].std()
df_comp['ConvertedCompYearly_Zscore'] = (df_comp['ConvertedCompYearly'] - mean_val) / std_val
df_comp['ConvertedCompYearly_Zscore'].value_counts().head()

ConvertedCompYearly_Zscore
-0.067513    42039
-0.072468      321
-0.168181      308
 0.023237      230
 0.118950      226
Name: count, dtype: int64

### Save the Dataset into CSV file

In [66]:
df.to_csv("Cleaned_dataset.csv", index = False)

---